form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form>div {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

main{
    display: flex;
    justify-content: center;

}

#formu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-color: brown;
    border-radius: 10px;
    background-color: rgb(4, 245, 144);
    width: 850px;
    height: 500px;
    margin-top: 20px;
    padding: 5px;
}

.botnreg {
    border-radius: 5px;
}