body{
    background-color: rgba(206, 206, 206, 0.733);
}

.navbar {
    border-radius: 20px;
    margin: 8px;
    border: solid 3px white;
}

nav .nav-link{
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
}

nav .nav-link:hover{
    border-color: white;
}

nav .registro_usuario{
    display: flex;
    align-items: center;

}

nav .registro{
    border: 3px solid rgb(248, 248, 248); 
    margin-right:10px; 
    border-radius: 30px; 
    background-color: rgb(248, 248, 248); 
    color:rgb(98, 165, 107); 
    font-weight: 1000; 
    list-style-type: none; 
    padding:7px;
}

nav .registro:hover{
    color: white;
    background-color: rgb(98, 165, 107);
    transition: 0.3s;
}

nav .iniciar_sesion{
    border: 3px solid rgb(248, 248, 248); 
    margin-right:10px; 
    border-radius: 30px; 
    background-color: rgb(248, 248, 248); 
    color:rgb(98, 165, 107); 
    font-weight: 1000; 
    list-style-type: none; 
    padding:7px;
}

nav .iniciar_sesion:hover{
    color: white;
    background-color: rgb(98, 165, 107);
    transition: 0.3s;
} 

.contenedor{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    margin: 10px;
    padding:10px;
    background-color: rgb(75, 161, 87);
    border: 3px solid white;
}

main h1{
    margin: 10px;
}

main p{
    margin-left: 10px;
    margin-right:10px;
    color: white;
    font-weight: 900;
}

main .titulo-seccion{
    color: white;
    font-weight: bold;
    background-color: rgb(41, 98, 50);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

aside{
    margin: 10px;
    padding:10px;
    background-color: rgb(75, 161, 87);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    flex: 0 0 300px;
    border: 3px solid white;
}

.list-group-item{
    width: 100%;
}

aside h1{
    text-align: center;
}


footer p{
    color:rgb(235, 235, 235);
}